@mixin title-line {
  &::before {
    position: absolute;
    z-index: -1;
    top: 21px;

    content: "";
    width: 100vw;
    height: 3px;
    left: auto;

    background-color: $green;
  }
}

@mixin tablet-media {
  @media (max-width: $desktop - 21) {
    @content;
  }
}
