@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  border: none;
  font: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

input:focus, textarea:focus {
  outline: 1px solid #68b738;
}

input[type="range"] {
  -webkit-appearance: none;
  outline: none !important;
  -moz-appearance: none;
       appearance: none;
  border: none;
}

body {
  font-family: "Oswald", "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1300px;
  padding: 0 40px;
}

.container--line {
  padding: 0;
}

@media (max-width: 1279px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
  padding-top: 54px;
  color: #68b738;
}

@media (max-width: 1279px) {
  .header {
    margin-bottom: 62px;
    padding-top: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (max-width: 767px) {
  .header--form {
    margin-bottom: 31px;
  }
}

.header__logo-text {
  display: none;
}

@media (max-width: 767px) {
  .header__logo-text {
    display: block;
  }
}

.header__toggle-nav {
  display: none;
  position: relative;
  width: 24px;
  height: 18px;
}

@media (max-width: 767px) {
  .header__toggle-nav {
    display: block;
  }
}

.header__toggle-button {
  height: 2px;
  background-color: #111;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__toggle-button::before {
  position: absolute;
  top: 8px;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #111;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__toggle-button::after {
  position: absolute;
  top: 16px;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #111;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__nav-bar {
    position: absolute;
    z-index: 10;
    top: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: max-height ease-in 0.5s;
    transition: max-height ease-in 0.5s;
  }
}

@media (max-width: 767px) {
  .header__nav-bar--disable {
    max-height: 0;
    overflow: hidden;
    border: 0;
  }
}

.header__link {
  position: relative;
  margin-left: 35px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__link--alt {
  color: #222222;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:active {
  opacity: 0.3;
}

.header__link:first-child {
  margin-left: 0;
}

.header__link--active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
}

.header__link--active-index::before {
  background-color: #ffffff;
}

@media (max-width: 1279px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
    color: #222222;
  }
}

@media (max-width: 767px) {
  .header__link {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1279px) {
  .header__link--active-index::before {
    background-color: #68b738;
  }
}

@media (max-width: 767px) {
  .header__link:first-child {
    margin-top: 20px;
  }
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 202px;
}

@media (max-width: 1279px) {
  .header__logo-container {
    width: 173px;
  }
}

@media (max-width: 767px) {
  .header__logo-container {
    width: 100%;
  }
}

.header__logo {
  width: 202px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

@media (max-width: 1279px) {
  .header__logo {
    width: 173px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    width: 33px;
    height: auto;
  }
}

.map {
  width: 100%;
  height: 400px;
}

@media (max-width: 1279px) {
  .map {
    height: 600px;
    background-color: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .map {
    height: auto;
  }
}

@media (max-width: 1279px) {
  .map--index {
    background-color: #ffffff;
  }
}

.map__promo-container {
  position: relative;
}

.map__promo {
  position: absolute;
  top: 95px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 66px 90px 62px 76px;
  width: 570px;
  background-color: #ffffff;
}

@media (max-width: 1279px) {
  .map__promo {
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 69px 41px 62px 41px;
    width: auto;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .map__promo {
    padding: 31px 0 26px 0;
  }
}

.map__promo-title {
  width: 154px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

@media (max-width: 767px) {
  .map__promo-title {
    font-size: 16px;
    line-height: 20px;
  }
}

.map__promo-text {
  width: 155px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
}

.map__promo-text--city {
  display: block;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .map__promo-text {
    width: 135px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .map__promo-text--city {
    margin-top: 0;
  }
}

.map__google-frame {
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .map__google-frame {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .map__google-frame {
    height: 427px;
  }
}

.map__no-js {
  width: 100%;
  height: 400px;
}

.footer {
  background: #f2f2f2;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 40px;
}

@media (max-width: 1279px) {
  .footer__container {
    padding: 64px 30px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    padding: 40px 20px 22px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo-link:hover {
  opacity: 0.8;
}

.footer__logo-link:active {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .footer__logo-link {
    width: 100%;
    padding-bottom: 31px;
    margin-bottom: 22px;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    margin: 0 auto;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__list {
    width: 100%;
    margin-bottom: 27px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #d9d9d9;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 29px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item:hover .footer__link-img {
  fill: #68b738;
}

@media (max-width: 767px) {
  .footer__item {
    margin-right: 37px;
    margin-bottom: 22px;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link:active {
  opacity: 0.3;
}

.footer__link-img {
  fill: #666;
}

.footer__link-img--vk {
  width: 30px;
  height: 16px;
}

.footer__link-img--insta {
  width: 23px;
  height: 23px;
}

.footer__link-img--fb {
  width: 14px;
  height: 28px;
}

@media (max-width: 767px) {
  .footer__link-img--vk {
    width: 22px;
    height: 12px;
  }
  .footer__link-img--insta {
    width: 16px;
    height: 16px;
  }
  .footer__link-img--fb {
    width: 10px;
    height: 19px;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright:hover .footer__copyright-img {
  fill: #68b738;
}

.footer__copyright:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .footer__copyright {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__copyright-img {
  width: 27px;
  height: 34px;
  fill: #666666;
}

.footer__copyright-text {
  margin-right: 23px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  line-height: 16px;
  color: #444444;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-title {
  font-size: 60px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 63px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 36px;
    line-height: 60px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.btn:hover {
  background-color: #5eaa2f;
}

.btn:active {
  color: rgba(255, 255, 255, 0.6);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body::before {
    background-image: url(../images/index-background-desktop@2x.jpg);
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 83px;
  margin-bottom: 135px;
}

.top::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: block;
  content: "";
  width: calc(50% - 40px);
  height: 698px;
  background: url(../images/index-background-desktop@1x.jpg) no-repeat right/auto 698px;
  background-color: #65a93c;
}

@media (max-width: 1279px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 90px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .top {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22px;
  }
}

@media (max-width: 1279px) {
  .top::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .top::before {
    top: 60px;
    display: block;
    width: 100%;
    height: 304px;
    background: url(../../images/index-background-mobile@1x.jpg) no-repeat center/100% auto;
  }
}

.top__description {
  position: relative;
  padding-top: 84px;
  width: 420px;
}

@media (max-width: 1279px) {
  .top__description {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .top__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .top__description::before {
    position: absolute;
    top: 138px;
    content: "";
    width: 280px;
    height: 270px;
    background: url(../../images/index-can-mobile@1x.png) no-repeat center/280px 270px;
  }
}

.top__title {
  margin-bottom: 33px;
  line-height: 60px;
}

@media (max-width: 767px) {
  .top__title {
    width: 250px;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
  }
}

.top__text {
  margin-bottom: 53px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

@media (max-width: 767px) {
  .top__text {
    margin-bottom: 302px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
  }
}

.top__button {
  width: 245px;
  height: 52px;
}

@media (max-width: 767px) {
  .top__button {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .top__img-wrapper {
    display: none;
  }
}

.top__img {
  position: relative;
  left: -63px;
  width: 552px;
}

@media (max-width: 1279px) {
  .top__img {
    position: relative;
    top: -76px;
    z-index: -10;
    width: 709px;
    height: 609px;
  }
}

@media (max-width: 767px) {
  .top__img {
    left: auto;
    top: auto;
    width: 100%;
    height: 270px;
  }
}

.program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 767px) {
  .program {
    margin-bottom: 32px;
  }
}

.program__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 570px;
  min-height: 372px;
  padding: 81px 56px 62px 52px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

.program__item::before {
  position: absolute;
  left: 52px;
  top: 47px;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #68b738;
  border-radius: 50%;
}

@media (max-width: 1279px) {
  .program__item {
    width: 100%;
    padding: 81px 280px 62px 52px;
  }
}

@media (max-width: 767px) {
  .program__item {
    padding: 39px 20px 22px 22px;
    min-height: 266px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1279px) {
  .program__item::before {
    left: auto;
    top: 92px;
    right: 62px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .program__item::before {
    right: auto;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
  }
  .program__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .program__description {
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
  }
}

.program__title {
  padding-left: 164px;
  margin-bottom: 67px;
  font-size: 36px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.program__title--slim::before {
  position: absolute;
  top: 40px;
  left: 66px;
  content: "";
  width: 70px;
  height: 97px;
  background-image: url(../../images/icon-cat-slim.svg);
  background-size: 70px 97px;
}

.program__title--pro::before {
  position: absolute;
  top: 69px;
  left: 34px;
  content: "";
  width: 134px;
  height: 56px;
  background-image: url(../../images/icon-cat-pro.svg);
  background-size: 134px 56px;
}

@media (max-width: 1279px) {
  .program__title {
    padding-left: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .program__title {
    padding-left: 72px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: 1279px) {
  .program__title--slim::before {
    left: auto;
    top: 80px;
    right: 92px;
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }
  .program__title--pro::before {
    left: auto;
    top: 135px;
    right: 28px;
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
  }
}

@media (max-width: 767px) {
  .program__title--slim::before {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-size: 35px 49px;
  }
  .program__title--pro::before {
    left: 13px;
    top: 35px;
    width: 67px;
    height: 28px;
    background-size: 67px 28px;
  }
}

.program__text {
  margin-bottom: 36px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  line-height: 24px;
  color: #444444;
}

@media (max-width: 767px) {
  .program__text {
    padding-right: 10px;
    padding-bottom: 23px;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.program__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.program__link::after {
  display: block;
  content: "";
  width: 24px;
  height: 11px;
  margin-left: 25px;
  background-image: url(../../images/icon-right-arrow-verylong.svg);
  background-size: 24px 11px;
}

.program__link:hover::after {
  width: 33px;
  height: 11px;
  background-size: 33px 11px;
}

.program__link:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .program__link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .program__link::after {
    margin-left: 12px;
  }
}

.features {
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  .features {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .features__title {
    margin-bottom: 35px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  position: relative;
  width: 236px;
  height: 265px;
  padding-top: 117px;
  margin-left: 90px;
  counter-increment: item_num;
}

.features__item:nth-child(4n + 1) {
  margin-left: 0;
}

.features__item--leaf::before {
  background: url(../../images/advantage-leaf@1x.png) no-repeat;
}

.features__item--powder::before {
  background: url(../../images/advantage-powder@1x.png) no-repeat;
}

.features__item--food::before {
  background: url(../../images/advantage-dining@1x.png) no-repeat;
}

.features__item--time::before {
  background: url(../../images/advantage-clock@1x.png) no-repeat;
}

.features__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 80px;
  background-color: #68b738;
  background-position: center;
  background-size: 50px 50px;
}

.features__item::after {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -10;
  content: counter(item_num);
  font-size: 281px;
  line-height: 281px;
  color: #f2f2f2;
}

@media (max-width: 1279px) {
  .features__item {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .features__item {
    padding: 0 0 0 80px;
    margin: 0 0 20px 0;
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 1279px) {
  .features__item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .features__item:nth-child(2n) {
    margin-right: 88px;
  }
}

@media (max-width: 1279px) {
  .features__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .features__item::before {
    width: 60px;
    height: 60px;
  }
  .features__item::after {
    display: none;
  }
}

.features__text {
  width: 201px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  line-height: 24px;
}

@media (max-width: 767px) {
  .features__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.example {
  position: relative;
  background-image: linear-gradient(#ffffff 0, #ffffff 127px, #f2f2f2 127px, #f2f2f2 100%);
  padding-bottom: 75px;
}

@media (max-width: 1279px) {
  .example {
    padding-top: 51px;
    padding-bottom: 0;
    background-image: none;
    border-top: 1px solid #f2f2f2;
  }
}

@media (max-width: 767px) {
  .example {
    padding-top: 0;
    padding-bottom: 38px;
    border: none;
    background-color: #f2f2f2;
  }
}

.example__title {
  line-height: 60px;
  margin-bottom: 142px;
}

@media (max-width: 1279px) {
  .example__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .example__title {
    padding-top: 33px;
    margin-bottom: 33px;
  }
}

.example__left {
  width: 430px;
}

@media (max-width: 1279px) {
  .example__left {
    width: 100%;
  }
}

.example__text {
  margin-bottom: 71px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  line-height: 24px;
}

@media (max-width: 1279px) {
  .example__text {
    margin-bottom: 56px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .example__text {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
  }
}

@media (max-width: 1279px) {
  .example__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .example__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
  margin-bottom: 62px;
}

@media (max-width: 767px) {
  .example__list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 38px;
  }
}

.example__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 162px;
  height: 72px;
  margin-left: 42px;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__item:nth-child(2n + 1) {
  margin-left: 0;
}

.example__item-top {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__item-bottom {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 5px 10px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  text-align: center;
  word-wrap: none;
  white-space: nowrap;
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .example__item {
    width: 124px;
    height: 56px;
    margin: 0px;
  }
}

@media (max-width: 1279px) {
  .example__item-bottom {
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .example__item-top {
    font-size: 24px;
    line-height: 24px;
  }
  .example__item-bottom {
    top: 45px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 12px;
    background-color: #f2f2f2;
    white-space: inherit;
  }
}

@media (max-width: 767px) {
  .example__features {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.example__features-cell {
  padding-left: 64px;
  font-size: 20px;
  text-transform: uppercase;
  color: #111111;
}

.example__features-cell:nth-child(2n + 1) {
  padding-left: 0;
}

@media (max-width: 1279px) {
  .example__features-cell {
    display: block;
  }
}

@media (max-width: 767px) {
  .example__features-cell {
    display: table-cell;
    padding-left: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
  }
}

@media (max-width: 1279px) {
  .example__features-cell:nth-child(2n) {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .example__features-cell:nth-child(2n) {
    text-align: left;
  }
}

.example__right {
  position: absolute;
  top: -60px;
  left: calc(50% - 40px);
}

@media (max-width: 1279px) {
  .example__right {
    position: relative;
    top: auto;
    left: auto;
    height: 462px;
    margin-top: 241px;
    background-color: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .example__right {
    height: auto;
    margin-top: 44px;
  }
}

.example__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .example__slider {
    position: relative;
    top: -227px;
  }
}

@media (max-width: 767px) {
  .example__slider {
    top: 0;
  }
}

.example__img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 690px;
  height: 517px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .example__img-wrapper {
    width: 311px;
    height: 232px;
  }
}

.example__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.example__img--before {
  width: 50%;
  background-image: url(../../images/before@1x.png);
}

.example__img--after {
  left: auto;
  right: 0;
  width: 50%;
  background-image: url(../../images/after@1x.png);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.example__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 71px;
}

.example__input-text {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px dotted #cdcdcd;
  padding-bottom: 6px;
  color: #111111;
}

.example__input-text:hover {
  border-bottom: 1px solid #cdcdcd;
}

.example__input-text:active {
  border: none;
}

@media (max-width: 767px) {
  .example__input-text {
    padding: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .example__input-text:hover {
    border-bottom: none;
  }
}

.example__slider-input {
  width: 428px;
  height: 6px;
  margin: 0 25px;
  padding: 0 6px;
  background: #dcdcdc;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .example__slider-input {
    width: 84px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    pointer-events: none;
  }
}

.example__slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #cdcdcd;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff url(../../images/slider-control.svg) no-repeat center/8px 8px;
  cursor: pointer;
}

.example__slider-input::-webkit-slider-thumb:hover {
  -webkit-filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.25));
}

.example__slider-input::-webkit-slider-thumb:active {
  -webkit-filter: drop-shadow(0px 4px 2.5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 4px 2.5px rgba(0, 0, 0, 0.3));
  border: 2px solid #68b738;
}

@media (max-width: 767px) {
  .example__slider-input::-webkit-slider-thumb {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    background-image: none;
    border: none;
  }
}

.example__slider-input::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #cdcdcd;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff url(../../images/slider-control.svg) no-repeat center/8px 8px;
  cursor: pointer;
}

.example__slider-input::-moz-range-thumb:hover {
  filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.25));
}

.example__slider-input::-moz-range-thumb:active {
  filter: drop-shadow(0px 4px 2.5px rgba(0, 0, 0, 0.3));
  border: 2px solid #68b738;
}

@media (max-width: 767px) {
  .example__slider-input::-moz-range-thumb {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
    background-image: none;
    border: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .features__item--leaf::before {
    background-image: url(../../images/advantage-leaf@2x.png);
  }
  .features__item--powder::before {
    background-image: url(../../images/advantage-powder@2x.png);
  }
  .features__item--food::before {
    background-image: url(../../images/advantage-dining@2x.png);
  }
  .features__item--time::before {
    background-image: url(../../images/advantage-clock@2x.png);
  }
  .example__img--before {
    background-image: url(../../images/before@2x.png);
  }
  .example__img--after {
    background-image: url(../../images/after@2x.png);
  }
  .top::before {
    background-image: url(../images/index-background-desktop@2x.jpg);
  }
  .top__description::before {
    background-image: url(../../images/index-can-mobile@2x.png);
  }
}

@media (max-width: 767px) {
  .header--catalog {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .main__container--catalog {
    padding: 0;
  }
}

@media (max-width: 1279px) {
  .catalog {
    margin-bottom: 71px;
  }
}

.catalog__title {
  margin-bottom: 156px;
}

@media (max-width: 767px) {
  .catalog__title {
    margin-bottom: 36px;
    padding-left: 20px;
  }
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 1279px) {
  .catalog__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 245px;
  margin-left: 80px;
  margin-bottom: 140px;
  padding: 165px 39px 40px 39px;
  background-color: #f2f2f2;
}

.card:nth-child(4n + 1) {
  margin-left: 0;
}

.card--more {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

@media (max-width: 1279px) {
  .card {
    width: 324px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    padding: 25px 20px;
    margin-bottom: 0;
    border: 1px solid #ededed;
    background-color: transparent;
  }
}

@media (max-width: 1279px) {
  .card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.card__img {
  position: absolute;
  top: -45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.card__img--big {
  top: -81px;
}

@media (max-width: 767px) {
  .card__img {
    top: 0;
    left: 20px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 139px;
    height: 144px;
  }
}

.card__title {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.card__title--more {
  position: relative;
  margin-bottom: 28px;
}

.card__title--more::before {
  position: absolute;
  top: -111px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(../../images/icon-plus.svg);
}

@media (max-width: 767px) {
  .card__title {
    margin-left: auto;
    margin-bottom: 13px;
    width: 50%;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

@media (max-width: 1279px) {
  .card__title--more {
    width: 140px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .card__title--more {
    margin-top: 58px;
    margin-bottom: 11px;
    width: 100%;
  }
  .card__title--more::before {
    top: -56px;
    left: 50%;
    width: 30px;
    height: 30px;
  }
}

.card__table {
  width: 100%;
  margin-bottom: 24px;
  border-spacing: 0 16px;
}

@media (max-width: 767px) {
  .card__table {
    width: 50%;
    margin-left: auto;
    margin-bottom: 15px;
    border-spacing: 0;
  }
}

.card__cell {
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  border-bottom: 1px solid #cdcdcd;
}

.card__cell--right-align {
  text-align: right;
}

@media (max-width: 767px) {
  .card__cell {
    font-size: 12px;
    line-height: 16px;
    border: 0;
  }
}

.card__btn {
  margin-top: auto;
  width: 169px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}

.card__btn--more {
  color: #444444;
  background-color: #f2f2f2;
}

.card__btn--more:hover {
  background-color: #ebebeb;
}

.card__btn--more:active {
  color: rgba(68, 68, 68, 0.3);
}

@media (max-width: 1279px) {
  .card__btn {
    width: 100%;
  }
}

.card__text {
  width: 170px;
  margin-bottom: 85px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  text-align: center;
}

@media (max-width: 767px) {
  .card__text {
    width: 100%;
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 16px;
  }
}

.extra {
  position: relative;
  margin-bottom: 86px;
}

.extra::before {
  position: absolute;
  z-index: -10;
  top: 21px;
  content: "";
  width: 100vw;
  height: 3px;
  left: auto;
  background-color: #68b738;
}

@media (max-width: 1279px) {
  .extra {
    margin-bottom: 76px;
  }
}

.extra__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .extra__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.extra__title {
  width: 420px;
  padding: 0 40px;
  margin-bottom: 75px;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
  font-weight: 400;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .extra__title {
    width: 266px;
    margin-bottom: 30px;
    padding: 6px 20px 0px 20px;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
    font-size: 24px;
    line-height: 24px;
  }
}

.extra__special {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 245px;
  padding: 65px 43px 45px 43px;
  background: url(../../images/gift-photo-desktop@1x.jpg) no-repeat center/cover;
}

@media (max-width: 1279px) {
  .extra__special {
    width: 100%;
    height: 200px;
    padding: 0 132px 0 91px;
    background-image: url(../../images/gift-photo-tablet@1x.jpg);
  }
}

@media (max-width: 767px) {
  .extra__special {
    min-height: 289px;
    padding: 65px 61px 45px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../../images/gift-photo-mobile@1x.jpg);
  }
}

.extra__special-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  text-align: center;
  color: #ffffff;
}

.extra__special-text::before {
  display: block;
  content: "";
  width: 55px;
  height: 60px;
  margin-bottom: 65px;
  background-image: url(../../images/icon-gift.svg);
}

@media (max-width: 1279px) {
  .extra__special-text {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 160px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .extra__special-text {
    margin: auto auto 0 auto;
    width: 149px;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .extra__special-text::before {
    position: absolute;
    top: 65px;
    left: 91px;
  }
}

@media (max-width: 767px) {
  .extra__special-text::before {
    top: 65px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 55px;
    height: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 1279px) {
  .extra__items {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .extra__items {
    margin-bottom: 39px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 895px;
  padding: 16px 0;
  border-bottom: 1px solid #cdcdcd;
}

.item:first-child {
  border-top: 1px solid #cdcdcd;
}

@media (max-width: 1279px) {
  .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0 36px;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  .item {
    padding: 0;
    border-left: 0;
    border-right: 0;
  }
}

@media (max-width: 1279px) {
  .item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.item__title {
  width: 245px;
  margin-right: 80px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 1279px) {
  .item__title {
    width: auto;
    margin: 25px 0;
  }
}

@media (max-width: 767px) {
  .item__title {
    width: 100%;
    margin: 0;
    margin: 15px 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.item__about {
  width: 245px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  text-align: left;
}

@media (max-width: 1279px) {
  .item__about {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .item__about {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
  }
}

.item__price {
  width: 45px;
  margin-right: 40px;
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
}

@media (max-width: 1279px) {
  .item__price {
    margin-right: 0;
    margin-left: 95px;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .item__price {
    margin-bottom: 16px;
    margin-left: 0;
    font-size: 14px;
    line-height: 14px;
  }
}

.item__btn {
  width: 245px;
  height: 40px;
}

@media (max-width: 1279px) {
  .item__btn {
    margin-bottom: 28px;
    width: 633px;
  }
}

@media (max-width: 767px) {
  .item__btn {
    margin-bottom: 17px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .extra__special {
    background-image: url(../../images/gift-photo-desktop@2x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1279px), (min-resolution: 192dpi) and (max-width: 1279px) {
  .extra__special {
    background-image: url(../../images/gift-photo-tablet@2x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px) {
  .extra__special {
    background-image: url(../../images/gift-photo-mobile@2x.jpg);
  }
}

.form__title {
  margin-bottom: 53px;
}

@media (max-width: 767px) {
  .form__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .form__title-wrapper {
    padding: 0;
  }
}

.form__description {
  width: 325px;
  margin-bottom: 69px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

@media (max-width: 1279px) {
  .form__description {
    width: 400px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .form__description {
    width: 226px;
    padding: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}

.form__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 73px;
}

@media (max-width: 1279px) {
  .form__info-wrapper {
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .form__info-wrapper {
    padding-left: 0;
    margin-bottom: 31px;
  }
}

.form__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.form__info-item:last-child {
  margin-bottom: 0;
}

.form__cat-id {
  width: 570px;
}

@media (max-width: 1279px) {
  .form__cat-id {
    width: 100%;
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .form__cat-id {
    margin-bottom: 23px;
  }
}

.form__input {
  position: relative;
  height: 52px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 17px 0 17px 20px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.form__input:hover {
  opacity: 1;
}

.form__input:focus {
  opacity: 1;
  border: 2px solid #444444;
}

.form__input:invalid {
  opacity: 1;
  border: 2px solid #ff8282;
}

.form__input--owner:focus + .form__input-img {
  fill: #68b738;
}

.form__input--owner:invalid + .form__input-img {
  fill: #ff8282;
}

@media (max-width: 767px) {
  .form__input {
    width: 100%;
    height: 45px;
    padding-right: 40px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 18px;
  }
}

.form__label {
  position: relative;
  margin-right: 16px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.form__label--radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
  cursor: pointer;
}

.form__label--radio::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 0.5em;
  background: no-repeat center center/50% 50%;
}

@media (max-width: 1279px) {
  .form__label {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .form__label {
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .form__label--radio::before {
    width: 30px;
    height: 30px;
  }
}

.form__about-request {
  width: 570px;
  padding-top: 25px;
  padding-left: 28px;
  border: 1px solid #cdcdcd;
}

@media (max-width: 1279px) {
  .form__about-request {
    width: calc(100% - 37px);
  }
}

@media (max-width: 767px) {
  .form__about-request {
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    padding: 30px 0 13px 20px;
  }
}

.form__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.form__radio:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid #bababa;
}

.form__radio:not(:disabled):active + label::before {
  opacity: 0.3;
}

.form__radio:checked + label::before {
  background: #ffffff url(../../images/slider-control.svg) no-repeat center/18px 18px;
}

@media (max-width: 767px) {
  .form__radio:checked + label::before {
    background: #ffffff url(../../images/slider-control.svg) no-repeat center/14px 14px;
  }
}

.form__owner-id {
  position: relative;
  margin-bottom: 71px;
}

.form__owner-id::before {
  position: absolute;
  z-index: -1;
  top: 21px;
  content: "";
  width: 100vw;
  height: 3px;
  left: auto;
  background-color: #68b738;
}

@media (max-width: 767px) {
  .form__owner-id {
    margin-bottom: 23px;
  }
}

.form__section-title {
  z-index: 10;
  display: table;
  padding: 0 40px;
  margin-bottom: 70px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #111111;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .form__section-title {
    max-width: 250px;
    padding: 7px 20px 0 20px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
  }
}

.form__owner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .form__owner-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__owner-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 570px;
}

@media (max-width: 1279px) {
  .form__owner-item {
    width: calc(100% - 37px);
    margin-bottom: 20px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .form__owner-item {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 1279px) {
  .form__owner-item:last-child {
    margin-bottom: 0;
  }
}

.form__input-img {
  position: absolute;
}

.form__input-img--email {
  top: 20px;
  right: 20px;
  width: 17px;
  height: 13px;
}

.form__input-img--phone {
  top: 17px;
  right: 19px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .form__input-img--email {
    top: 16px;
    right: 16px;
  }
  .form__input-img--phone {
    top: 13px;
    right: 13px;
  }
}

.form__comment {
  position: relative;
  margin-bottom: 71px;
}

.form__comment::before {
  position: absolute;
  z-index: -1;
  top: 21px;
  content: "";
  width: 100vw;
  height: 3px;
  left: auto;
  background-color: #68b738;
}

@media (max-width: 767px) {
  .form__comment {
    margin-bottom: 24px;
  }
}

.form__textarea {
  width: 100%;
  padding: 17px 40px 0 20px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
  resize: none;
}

@media (max-width: 1279px) {
  .form__textarea {
    width: calc(100% - 37px);
    height: 174px;
  }
}

@media (max-width: 767px) {
  .form__textarea {
    width: 100%;
    height: 150px;
    padding: 15px 13px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1279px) {
  .form__container--textarea {
    padding-left: 70px;
  }
}

@media (max-width: 767px) {
  .form__container--textarea {
    padding-left: 20px;
  }
}

.form__extra {
  position: relative;
  margin-bottom: 61px;
}

.form__extra::before {
  position: absolute;
  z-index: -1;
  top: 21px;
  content: "";
  width: 100vw;
  height: 3px;
  left: auto;
  background-color: #68b738;
}

@media (max-width: 1279px) {
  .form__container--extra {
    padding-left: 70px;
  }
}

@media (max-width: 767px) {
  .form__container--extra {
    padding-left: 20px;
  }
}

.form__extra-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .form__extra-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__extra-item {
  width: 245px;
}

@media (max-width: 1279px) {
  .form__extra-item {
    width: calc(50% - 30px);
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .form__extra-item {
    width: auto;
  }
}

@media (max-width: 1279px) {
  .form__extra-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .form__extra-item:nth-last-child(-n+2) {
    margin-bottom: 32px;
  }
  .form__extra-item:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.form__checkbox:checked + .form__label-text::after {
  display: block;
}

.form__checkbox:active .form__label-text {
  opacity: 0.3;
}

.form__label-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}

.form__label-text::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  margin-right: 19px;
  border: 1px solid #cdcdcd;
}

.form__label-text::after {
  position: absolute;
  top: 12px;
  left: 10px;
  display: none;
  content: "";
  width: 21px;
  height: 16px;
  background-image: url(../../images/icon-tick.svg);
}

.form__label-text:hover::before {
  border: 1px solid #bababa;
}

.form__label-text:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .form__label-text {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .form__label-text::before {
    width: 30px;
    height: 30px;
  }
  .form__label-text::after {
    top: 7px;
    left: 5px;
    width: 21px;
    height: 16px;
    background-repeat: no-repeat;
  }
}

.form__submit {
  margin-bottom: 34px;
}

.form__container--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .form__container--submit {
    padding-left: 70px;
  }
}

@media (max-width: 767px) {
  .form__container--submit {
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__button {
  width: 568px;
  height: 52px;
}

@media (max-width: 1279px) {
  .form__button {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .form__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

.form__submit-text {
  font-family: "Arial", "Roboto", "Verdana", "sans-serif";
  color: #444444;
  margin-left: 80px;
}

@media (max-width: 1279px) {
  .form__submit-text {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .form__submit-text {
    margin-top: 23px;
    margin-left: 0;
  }
}
