.catalog {
  @include tablet-media {
    margin-bottom: 71px;
  }
}

.catalog__title {
  margin-bottom: 156px;
}

.catalog__list {
  display: flex;
  flex-flow: row wrap;

  @include tablet-media {
    justify-content: space-between;
  }
}

.card {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 245px;
  margin-left: 80px;
  margin-bottom: 140px;
  padding: 165px 39px 40px 39px;

  background-color: $grey;

  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  &--more {
    background-color: $white;
    border: 1px solid #cdcdcd;
  }

  @include tablet-media {
    width: 324px;
    margin-left: 0;
  }
}

@include tablet-media {
  .card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.card__img {
  position: absolute;
  top: -45px;

  &--big {
    top: -81px;
  }
}

.card__title {
  margin-bottom: 28px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $black-text;

  &--more {
    position: relative;

    margin-bottom: 28px;
  }

  &--more::before {
    position: absolute;
    top: -111px;
    left: 50%;
    transform: translate(-50%, 0);

    content: "";
    width: 60px;
    height: 60px;

    background-image: url(../../images/icon-plus.svg);
  }
}

@include tablet-media {
  .card__title--more {
    width: 140px;

    text-align: center;
  }
}

.card__table {
  width: 100%;
  margin-bottom: 24px;

  border-spacing: 0 16px;
}

.card__cell {
  font-family: $alternative-font;

  border-bottom: 1px solid #cdcdcd;

  &--right-align {
    text-align: right;
  }
}

.card__btn {
  margin-top: auto;

  width: 169px;
  height: 40px;

  font-size: 16px;
  line-height: 20px;

  &--more {
    color: #444444;

    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($color: #444444, $alpha: 0.3);
    }
  }

  @include tablet-media {
    width: 100%;
  }
}

.card__text {
  width: 170px;

  margin-bottom: 85px;

  font-family: $alternative-font;
  text-align: center;
}

.extra {
  position: relative;
  margin-bottom: 86px;

  &::before {
    position: absolute;
    z-index: -10;
    top: 21px;

    content: "";
    width: 100vw;
    height: 3px;
    left: auto;

    background-color: $green;
  }

  @include tablet-media {
    margin-bottom: 76px;
  }
}

.extra__container {
  display: flex;
  justify-content: space-between;

  @include tablet-media {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.extra__title {
  width: 420px;
  padding: 0 40px;
  margin-bottom: 75px;

  font-size: 36px;
  line-height: 36px;
  color: $black-text;
  font-weight: 400;

  background-color: $white;
}

.extra__special {
  position: relative;

  display: flex;
  width: 245px;
  padding: 65px 43px 45px 43px;

  background: url(../../images/gift-photo-desktop@1x.jpg) no-repeat center/cover;

  @include tablet-media {
    width: 100%;
    height: 200px;
    padding: 0 132px 0 91px;

    background-image: url(../../images/gift-photo-tablet@1x.jpg);
  }
}

.extra__special-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $alternative-font;
  text-align: center;
  color: $white;

  &::before {
    display: block;
    content: "";
    width: 55px;
    height: 60px;
    margin-bottom: 65px;

    background-image: url(../../images/icon-gift.svg);
  }

  @include tablet-media {
    margin-left: auto;
    flex-direction: row;
    width: 160px;

    text-align: left;
  }
}

@include tablet-media {
  .extra__special-text::before {
    position: absolute;
    top: 65px;
    left: 91px;
  }
}

.extra__items {
  @include tablet-media {
    margin-bottom: 70px;
  }
}

.item {
  display: flex;
  align-items: center;
  width: 895px;
  padding: 16px 0;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @include tablet-media {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 36px;

    border: 1px solid #cdcdcd;
    border-bottom: 0;
  }
}

@include tablet-media {
  .item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.item__title {
  width: 245px;
  margin-right: 80px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: $black-link;

  @include tablet-media {
    width: auto;
    margin: 25px 0;
  }
}

.item__about {
  width: 245px;

  font-family: $alternative-font;
  text-align: left;

  @include tablet-media {
    width: auto;
    margin-left: auto;
  }
}

.item__price {
  width: 45px;
  margin-right: 40px;

  font-family: $alternative-font;

  @include tablet-media {
    margin-right: 0;
    margin-left: 95px;

    text-align: right;
  }
}

.item__btn {
  width: 245px;
  height: 40px;

  @include tablet-media {
    margin-bottom: 28px;
    width: 633px;
  }
}

@include retina-2x {
  .extra__special {
    background-image: url(../../images/gift-photo-desktop@2x.jpg);

    @include tablet-media {
      background-image: url(../../images/gift-photo-tablet@2x.jpg);
    }
  }
}
