.catalog {
  &__title {
    margin-bottom: 156px;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
  }
}

.card {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 245px;
  margin-left: 80px;
  margin-bottom: 142px;
  padding: 165px 39px 40px 39px;

  background-color: $grey;

  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  &--more {
    background-color: $white;
    border: 1px solid #cdcdcd;
  }

  &__img {
    position: absolute;
    top: -45px;

    &--big {
      top: -81px;
    }
  }

  &__title {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $black-text;

    &--more {
      position: relative;

      margin-bottom: 28px;

      &::before {
        position: absolute;
        top: -111px;
        left: 53px;

        content: "";
        width: 60px;
        height: 60px;

        background-image: url(../../images/icon-plus.svg);
      }
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 24px;

    border-spacing: 0 16px;
  }

  &__cell {
    font-family: $alternative-font;

    border-bottom: 1px solid #cdcdcd;

    &--right-align {
      text-align: right;
    }
  }

  &__btn {
    margin-top: auto;

    width: 169px;
    height: 40px;

    font-size: 16px;
    line-height: 20px;

    &--more {
      color: #444444;

      background-color: #f2f2f2;

      &:hover {
        background-color: #ebebeb;
      }

      &:active {
        color: rgba($color: #444444, $alpha: 0.3);
      }
    }
  }

  &__text {
    width: 170px;

    margin-bottom: 85px;

    font-family: $alternative-font;
    text-align: center;
  }
}

.extra {
  position: relative;
  margin-bottom: 86px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 420px;
    padding: 0 40px;
    margin-bottom: 75px;

    font-size: 36px;
    line-height: 36px;
    color: $black-text;
    font-weight: 400;

    background-color: $white;
  }

  &__special {
    display: flex;
    width: 245px;
    padding: 65px 43px 45px 43px;

    background: url(../../images/gift-photo-desktop@1x.jpg) no-repeat
      center/cover;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: $alternative-font;
      text-align: center;
      color: $white;

      &::before {
        display: block;
        content: "";
        width: 55px;
        height: 60px;
        margin-bottom: 65px;

        background-image: url(../../images/icon-gift.svg);
      }
    }
  }

  &::before {
    position: absolute;
    z-index: -10;
    top: 21px;

    content: "";
    width: 100vw;
    height: 3px;
    left: auto;

    background-color: $green;
  }
}

.item {
  display: flex;
  align-items: center;
  width: 895px;
  padding: 16px 0;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  &__title {
    width: 245px;
    margin-right: 80px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: $black-link;
  }

  &__about {
    width: 245px;

    font-family: $alternative-font;
    text-align: left;
  }

  &__price {
    width: 45px;
    margin-right: 40px;

    font-family: $alternative-font;
  }

  &__btn {
    width: 245px;
    height: 40px;
  }
}
